@page
@model ShipmentTracker.Pages.DeliveryTrackings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Tracking Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeliveryTracking.DeliveryTrackingId" />
            <div class="form-group">
                <label asp-for="DeliveryTracking.ExpectedDeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryTracking.ExpectedDeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryTracking.ExpectedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTracking.TrackingNumber" class="control-label"></label>
                <input asp-for="DeliveryTracking.TrackingNumber" class="form-control" />
                <span asp-validation-for="DeliveryTracking.TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTracking.DeliveryStatus" class="control-label"></label>
                <input asp-for="DeliveryTracking.DeliveryStatus" class="form-control" />
                <span asp-validation-for="DeliveryTracking.DeliveryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTracking.ShipmentId" class="control-label"></label>
                <select asp-for="DeliveryTracking.ShipmentId" class="form-control" asp-items="ViewBag.ShipmentId"></select>
                <span asp-validation-for="DeliveryTracking.ShipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-dark mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
