@page
@model ShipmentTracker.Pages.AboutUsModel
@{
}

<style>
h1, h2 {
		text-align: center;
	}

</style >

<div class="sub-pages-header" style="margin-bottom:100px;">
<h1>Who we are</h1>
</div>


<span class="normal-text">
	For when standard ground service just won't do. For when you need fast, expedited testing. For when you have questions and need more than just answers, but customer support.
</span>

<p class="normal-text">
	That's where
	<strong>
	ShipTests
	</strong>&nbsp;comes in,It is a national nonprofit and academic reference laboratory at the forefront of diagnostic medicine. We are a CAP-, ISO 15189-, and CLIA-certified diagnostic lab with more than 35 years of experience supporting clients through unparalleled quality and service. Our forward-thinking community of academic experts and consultants is here to empower our clients with the most current industry knowledge and unparalleled guidance.
</p>



<br />
<section>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Meet the Coolest Team</h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                
            </div>
            <h5 class="mb-3">Harry Potter</h5>
            <h6 class="text-primary mb-3">CEO</h6>
            <p class="px-xl-3">
                
                <strong>I am the Headmaster of everything</strong>
            </p>
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">               
            </div>
            <h5 class="mb-3">Hermione Granger</h5>
            <h6 class="text-primary mb-3">Operations Head</h6>
            <p class="px-xl-3">
               
                <strong> I am your Operations Girl! We Deliver in seconds.</strong>
            </p>

        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">               
            </div>
            <h5 class="mb-3">Ronald Weasley</h5>
            <h6 class="text-primary mb-3">Inventory Manager</h6>
            <p class="px-xl-3">
               <strong>Who dares to challenge me?</strong>
            </p>

        </div>
    </div>
