@page
@model ShipmentTracker.Pages.ServicesModel
@{
	ViewData["Title"] = "Services";
}

<style>
        h1, h2 {
        text-align: center;


    }

	img {
		max-width: 100%;
		height: auto;
	}
</style>

<div class="sub-pages-header mb-3">
<h1>Our Services</h1>
</div>

<div class="row" style="margin-bottom:100px;">

	<div class="col-sm-6">
			<h4 class="red-color mb-1">Solutions for Lab Stewardship and Pharmacogenetics</h4>
			<p class="normal-text">Laboratory stewardship is essential in this era of value-based care. ARUP Healthcare Advisory Services has taken it one step further by looking at how the lab can also affect one of the highest-cost items in healthcare: pharmacy..</p>
</div>
</div>

<div class="row" style="margin-bottom:100px;">
	<div class="col-sm-6">
		<h4 class="red-color mb-1">Laboratory Outreach Solutions and Business Planning</h4>
		<p class="normal-text">Hospital labs play a key role in supporting the continuum of care through community physicians. By providing outreach lab services, your lab can provide community physicians with timely test results that ensure the most effective treatment options. These results, combined with inpatient and outpatient lab data, can help drive down the cost per episode of care..</p>
	</div>	
</div>

<div class="row" style="margin-bottom:100px;">
	
	<div class="col-sm-6">
		<h4 class="red-color mb-1">Laboratory Operations and Space-Planning Solutions</h4>
		<p class="normal-text">With shrinking budgets and declining reimbursement from government and private payers, we know you are looking for ways to minimize waste and operate more efficiently..</p>
	</div>
</div>

<div class="row" style="margin-bottom:100px;">
	<div class="col-sm-6">
		<h4 class="red-color mb-1">System Laboratory Alignment Solutions</h4>
		<p class="normal-text">Healthcare organizations continue to face pressure to improve outcomes with fewer resources and find ways to remain sustainable in an increasingly capitated environment. And the lab is often under scrutiny to determine how it can contribute to reducing costs. If you answered yes to the question above about multiple labs, you are at risk for having executives view your lab services as an expensive and inefficient commodity..</p>
	</div>
	
</div>






     

