@page
@model ShipmentTracker.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Employee Information</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.EmployeeId" />
            <div class="form-group">
                <label asp-for="Employee.EmployeeName" class="control-label"></label>
                <input asp-for="Employee.EmployeeName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Contact" class="control-label"></label>
                <input asp-for="Employee.Contact" class="form-control" />
                <span asp-validation-for="Employee.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-dark mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
